/* .Messages {
  overflow-y: scroll;
} */

/* TOP */
.Messages__TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.Messages__TopBar__Name {
  font-size: 16px;
}

/* CONTAINER */
.Messages__Container {
  display: flex;
  flex-direction: column;
}
