.Stories {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 12px;
  /* scroll-snap-type: mandatory; */
}

.Stories::-webkit-scrollbar {
  display: none;
}

.Stories__List {
  list-style-type: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}

.Stories__Item:first-child {
  padding-left: 12px;
}

.Stories__Item:last-child {
  padding-right: 12px;
}
