/* svg {
  fill: black;
} */

.TopBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #fafafa;
  z-index: 99;
}

.TopBar__Logo {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.TopBar__Actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.TopBar__Camera,
.TopBar__Logo,
.TopBar__Actions {
  cursor: pointer;
}
