.Messages__SearchBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  z-index: 0;
}

.SearchIcon__Messages {
  position: absolute;
  left: 34px;
  top: 24px;
  z-index: 99;
}

.Messages__SearchBar input {
  width: 347px;
  height: 36px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  border: none;
  padding-left: 34px;
}

textarea:focus, input:focus{
  outline: none;
}
